@mixin mobileMode{
    .homepage{
        width: 100%;
        height: 100%;
        background-size: contain;
        background-color: $secondary-color;
        &__signup{
            top: 75%;
            left: 10%;
        }
    }
    .modal-box{
        background-color: #E33946;
        margin-top: 10%;
        margin-left: 5%;
        padding: 10px;
        width: 80%;
        &__close{
            top: -20px;
            left:20px;
        }
        &__header{
            height:30px;
            .space{
                margin-right: 20px;
            }
            &-steps{
                width: 10px;
                height: 10px;
                font-size: 14px;
                border:none;
                background-color: $primary-color !important;
            }
            &-label{
                font-size:9px;
            }
        }
        &__footer{
            height:75px;
        }
        &__footer-previous, &__footer-next{
            width: 80px;
            font-size: 12px;
        }
        &__content{
            .profile{
                padding:20px 30px 10px 30px;
                &__label{
                    margin-bottom: 25px;
                    &-text{
                        font-size: 19px;
                    }
                }
                &__facebook, &__twitter{
                    margin-bottom: 10px;
                }
                &__facebook-label, &__twitter-label{
                    font-size: 18px;
                }
            }
            input[type="text"]{
                font-size: 16px;
            }
            .personal, .question{
                &__label{
                    font-size: 18px;
                }
            }
           .submit__text{
               font-size:19px;
           }
        }
    }
}


@mixin tabletMode{
    .homepage{
        background-size: contain;
        &__signup{
            left: 10%;
        }
    }
    .modal{
        &-box{
            margin-top:5%;
            &__header {
                .space {
                    margin-right: 25px;
                }
            }

            &__content{
                .profile{
                    padding:20px 30px 10px 30px;
                    &__label{
                        margin-bottom: 25px;
                        &-text{
                            font-size: 19px;
                        }
                    }
                }
                .personal{
                    padding:20px 30px 10px 30px;
                }
            }

            &__footer{
                height:70px;
                &-next, &-previous{
                    width: 90px;
                    padding: 12px 5px;
                    font-size: 13px;
                }
            }
            .personal, .question{
                &__label{
                    font-size: 18px;
                }
            }
            .submit__text{
                font-size:19px;
            }
        }
    }

}