.show {
    display: block;
}
.hide{
    display: none;
}
.center{
    margin: 0 auto;
}
.cursor{
    cursor: pointer;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.space{
    margin-right:50px;
}
.activate-step{
    background-color: $secondary-color;
    color: $primary-color;
}
.deactivate-step{
    background-color: $primary-color;
    color: $white;
}




@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin textLabel{
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 5px;
}
@mixin textBox{
    color: $text-black;
    border: 1px solid $grey;
    height:40px;
    width: 98%;
    padding: 0px 0px 0px 10px;
    font-size: 18px;
    font-family: $font-name;
    margin-bottom: 20px;
    outline-color: $secondary-color;
    @include border-radius(3px);
}


