$font-name : 'Lato';
$primary-color : #E33946;
$secondary-color : #FCEFBA;
$white: #FFFFFF;
$grey: #D4D4D4;
$text-black: #4A4A4A;
$black:#000000;
$light: 100;
$normal: 300;
$bold: 400;
$semibold:600;
