<div class="modal-box">
    <span class="modal-box__close close-modal cursor">x</span>
    <div class="modal-box__header">
        <span class="modal-box__header-steps step-title-0">1</span>
        <span class="modal-box__header-steps step-title-1">2</span>
        <span class="modal-box__header-steps step-title-2">3</span>
        <span class="modal-box__header-steps step-title-3">4</span>
    </div>
    <div class="modal-box__content">

    </div>
    <div class="modal-box__footer">
        <div class="modal-box__footer-previous previous cursor">PREVIOUS</div>
        <div class="modal-box__footer-next next cursor">NEXT</div>
    </div>
</div>
