<div class="modal-box">
    <span class="modal-box__close close-modal cursor">X</span>
    <div class="modal-box__header">
        <div class="pull-left space">
            <div class="modal-box__header-steps step-0 cursor" data-stepnumber="0">1</div>
            <div class="modal-box__header-label step-title-0"></div>
        </div>
        <div class="pull-left space">
            <div class="modal-box__header-steps step-1 cursor" data-stepnumber="1">2</div>
            <div class="modal-box__header-label step-title-1"></div>
        </div>
        <div class="pull-left space">
            <div class="modal-box__header-steps step-2 cursor" data-stepnumber="2">3</div>
            <div class="modal-box__header-label step-title-2"></div>
        </div>
        <div class="pull-left space">
            <div class="modal-box__header-steps step-3 cursor" data-stepnumber="3">4</div>
            <div class="modal-box__header-label step-title-3"></div>
        </div>
    </div>
    <div class="modal-box__content">

    </div>
    <div class="modal-box__footer">
        <div class="modal-box__footer-previous previous cursor">PREVIOUS</div>
        <div class="modal-box__footer-next next cursor">NEXT</div>
    </div>
</div>
