<div class="profile">
    <div class="profile__label">
        <div class="profile__label-text" align="center">Social Profile Links</div>
    </div>
    <div class="profile__facebook">
        <div class="profile__facebook-label">Facebook</div>
        <div class="profile__facebook-content">
            <input type="text" placeholder="facebook.com/example"/>
        </div>
    </div>
    <div class="profile__twitter">
        <div class="profile__twitter-label">Twitter</div>
        <div class="profile__twitter-content">
            <input type="text" placeholder="twitter.com/example"/>
        </div>
    </div>
</div>