<div class="personal">
    <div class="personal__label">Username</div>
    <div class="personal__text">
        <input type="text"/>
    </div>

    <div class="personal__label">Title</div>
    <div class="personal__text">
       <select>
           <option value="Mr">Mr</option>
           <option value="Mrs">Mrs</option>
       </select>
    </div>

    <div class="personal__label">Firstname</div>
    <div class="personal__text">
        <input type="text"/>
    </div>

    <div class="personal__label">Mobile Number</div>
    <div class="personal__text">
        <input type="number"/>
    </div>

</div>
